
DB_PASSWORD=yourPassword
DB_NAME=lms_db
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
HOST_API=http://localhost:3000/api

FILE_STORAGE_API=yourfileStorageApiUrl

STORAGE_PROVIDER =minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_URL = yourminiourl
MINIO_ACCESS_KEY=yourMinioAccount
MINIO_SECRET_KEY=yourMinioPassword
MINIO_BUCKET=yourBucket
PORT=3000

JWT_SECRET=YourJWTSecret1234567890???+